$color-primary: #df7c21;
$text-color-black: #1c1c1c;
$text-color-grey: #cecece;

$color-black: #1c1c1c;
$color-white: #fff;

$logo-font-size: 3rem;
$basic-font-size: 2.4rem;
$large-font-size: 2.8rem;
$small-font-size: 1.8rem;
